
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #ffffff;
  font: 16pt 'Trebuchet MS';
  line-height: 1.5em;
}

div.slide {
  background-color: #ffffff;
}

div.slide-header {
}

div.slide-body {
}

h1,h2,h3,h4,h5,h6 {
  margin: 0ex 0ex 2ex 0ex;
  padding: 1ex;
  background-color: #b52c88;
  color: #ffffff;
}
